<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="community">
			<section 
				name="data" 
				type="Community.Example.DataConnectionConfiguration, Example" />
		</sectionGroup>
	</configSections>

	<community>
		<data 
			server="GlobalServer"
			database="SuperDB"
			username="MegaUser"
			timeout="150" />
	</community>
	
</configuration>